@font-face {
  font-family: "iconfont"; /* Project id 5076835 */
  src: url('iconfont.woff2?t=1765500498073') format('woff2'),
       url('iconfont.woff?t=1765500498073') format('woff'),
       url('iconfont.ttf?t=1765500498073') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home1:before {
  content: "\e606";
}

.icon-rukufangan:before {
  content: "\e600";
}

.icon-shezhi:before {
  content: "\e74a";
}

.icon-shangyishou_huaban:before {
  content: "\e636";
}

.icon-xiayishou_huaban:before {
  content: "\e637";
}

.icon-lock:before {
  content: "\e930";
}

.icon-yonghu:before {
  content: "\e8c8";
}

.icon-houtui:before {
  content: "\e624";
}

.icon-qianjin:before {
  content: "\e62d";
}

.icon-chuangkouzuixiaohua:before {
  content: "\e7b4";
}

.icon-delete_line:before {
  content: "\e666";
}

.icon-chuangkouzuidahua:before {
  content: "\e65b";
}

